@import url('../../styles.less');

.education {
  .row {
    margin-bottom: 4em !important;
  }

  h2 {
    background-color: @black;
    padding: 0em 0.2em;
  }

  p {
    margin-top: 1em;
  }

  .ui.horizontal.divider.date {
    margin-bottom: 0px;
  }
}
