<div class="education">
  <div
    class="ui middle aligned stackable centered vertically divided grid"
    [suiTransition]="transitionController"
  >
    <div
      *ngFor="let education of educations; let i = index"
      class="row"
    >
      <div class="row">
        <div class="ui header">
          <h2>{{ education.diploma }}</h2>
        </div>
        <div>
          <app-twitch-like-link
            [link]="education.website"
            [text]="education.place"
          ></app-twitch-like-link>
          <p>
            <i class="map pin icon"></i>
            {{ education.place_city }}, {{ education.place_region }},
            {{ education.place_country }}
          </p>
          <div class="ui large violet label">
            {{ education.year_from }} - {{ education.year_to }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
