@import url('../../styles.less');

.about-me {
  img {
    width: 20em;
  }

  .sub.header {
    color: white;
    text-decoration: none;
    font-weight: bold;
  }

  .sub.header.languages {
    margin-top: 3px;
    background: black;
    padding: 5px;
  }
}
