<div class="about-me">
  <div class="ui stackable centered divided grid">
    <div class="row">
      <div class="thirteen wide column">
        <img
          [suiTransition]="imageTransition"
          class="ui medium circular left floated image"
          src="../../assets/me.jpg"
        />
        <h1 class="ui header">
          <div class="content">
            <h1>{{ getFirstName() }} {{ getLastName() }}</h1>
            <div class="sub header languages">
              <p><b><i>{{ getAge() }} years old</i>{{ getLanguages() }}</b></p>
            </div>
          </div>
        </h1>
        <p id="bio" [innerHTML]="getBio()"></p>
        <div [suiTransition]="buttonsTransition" class="ui huge buttons">
          <button
            (click)="goToURL(profile.whatsapp_link)"
            class="ui green button"
          >
            <i class="fab fa-whatsapp"></i>
          </button>
          <button
            (click)="goToURL(profile.github_link)"
            class="ui black button"
          >
            <i class="fab fa-github"></i>
          </button>
          <button
            (click)="goToURL(profile.gitlab_link)"
            class="ui purple button"
          >
            <i class="fab fa-gitlab"></i>
          </button>
          <button
            (click)="goToURL(profile.linkedin_link)"
            class="ui linkedin button"
          >
            <i class="fab fa-linkedin-in"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
