<div class="ui segment about-me">
  <h3 class="ui horizontal divider">
    <
    <i class="hand spock icon"></i>
    About me >
  </h3>
  <div class="ui stackable centered divided grid">
    <div class="row">
      <div class="fourteen wide column">
        <img
          class="ui small circular left floated image"
          src="../../assets/me.jpeg"
        />
        <p>
          {{ profile.bio }}
        </p>
      </div>
      <div class="two wide column">
        <div class="ui vertical buttons">
          <button
            (click)="goToURL(profile.whatsapp_link)"
            class="ui fluid button whatsapp"
          >
            <i class="fab fa-whatsapp"></i>
          </button>
          <button
            (click)="goToURL(profile.github_link)"
            class="ui fluid button github"
          >
            <i class="fab fa-github"></i>
          </button>
          <button
            (click)="goToURL(profile.linkedin_link)"
            class="ui fluid button linkedin"
          >
            <i class="fab fa-linkedin-in"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
  <h3 class="ui horizontal divider">
    &lt;/
    <i class="hand spock icon"></i>
    About me >
  </h3>
</div>
