@import url('../../styles.less');

.about-me {
  img {
    width: 19vmax;
  }

  .content {
    font-size: 1.5vmax;
  }

  #bio {
    font-size: 5vmin !important;
  }

  .sub.header {
    color: white;
    text-decoration: none;
    font-weight: bold;
  }

  .sub.header.languages {
    margin-top: 3px;
    background: black;
    padding: 5px;
  }
}
