@import url('../../styles.less');

.ui.fluid.button.whatsapp {
  background-color: #128c7e;
  color: white;
}

.ui.fluid.button.linkedin {
  background-color: #0077b5;
  color: white;
}

.ui.fluid.button.github {
  background-color: #333;
  color: white;
}

.ui.fluid.button.mail {
  background-color: #dd4b39;
  color: white;
}

.ui.vertical.buttons {
  min-width: 100%;
}
