 @import url('../../styles.less');

.projects{

  h2 {
    padding: 0 0.2em;
    background-color: @black;
  }

  .project.item {
    padding-bottom: 30px !important;
  }

  .ui.pagination.menu {
    position: fixed;
    top: calc(100vh - 7%);
    font-family: @font;
    margin-bottom: 1.2em;
    padding: 0;
  }

  .ui.active.centered.inline.loader {
    box-sizing: initial;
    font-size: 3em;
  }

  .fitted.icon.chevron.right {
    font-size: 0.7em;
    padding-right: 0.4em;
  }

}
