<div class="projects">
  <div *ngIf="!areProjectsLoaded" class="ui active centered inline huge loader"></div>
  <div *ngIf="areProjectsLoaded" class="ui items" [suiTransition]="transitionController">
    <div *ngFor="let project of projects; let i = index" class="project item">
      <div class="content">
        <a class="header" target="_blank" rel="noopener noreferrer" href="{{ project.html_url }} ">
          <h2><i class="fitted icon chevron right"></i>{{ project.name }}</h2>
        </a>
        <div class="meta">

        </div>
        <div class="description">
          <p>{{ project.description }}</p>
        </div>
        <div class="extra">
          <a class="ui purple label language">
            <p *ngIf="!project.language">Conf</p>
            <p *ngIf="project.language">{{ project.language }}</p>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="ui one column centered grid">
    <div class="ui pagination inverted menu">
      <a (click)="setPage(i + 1)" *ngFor="let page of layout; let i = index" class="item"
        [ngClass]="{active: i === currentPage - 1}">
        {{ i + 1 }}
      </a>
    </div>
  </div>
</div>
