<div class="ui segment projects">
  <h3 class="ui horizontal divider">
    &lt;
    <i class="hubspot icon"></i>
    Projects >
  </h3>
  <div
    class="ui four column centered stackable grid"
    [suiTransition]="transitionController"
  >
    <div *ngFor="let project of projects; let i = index" class="column">
      <a
        class="ui fluid card"
        target="_blank"
        rel="noopener noreferrer"
        href="{{ project.html_url }} "
      >
        <div class="content">
          <div class="header">
            {{ project.name }}
            <span class="right floated">
              <div *ngIf="project.fork" class="ui orange horizontal label">
                Forked
              </div>
              <div *ngIf="project.language" class="ui red horizontal label">
                {{ project.language }}
              </div>
            </span>
          </div>
          <div class="description">
            {{ project.description }}
          </div>
        </div>
        <div *ngIf="!project.fork" class="extra content">
          <span class="left floated like">
            <i class="calendar icon"></i>
            {{ formatDate(project.created_at) }}
          </span>
          <div class="right floated author">
            <img class="ui avatar image" src="{{ project.owner.avatar_url }}" />
            {{ project.owner.login }}
          </div>
        </div>
      </a>
    </div>
  </div>
  <div class="ui one column centered grid">
    <div class="ui pagination menu">
      <a
        (click)="setPage(i + 1)"
        *ngFor="let page of layout; let i = index"
        class="item"
        [ngClass]="{active: i === currentPage - 1}"
      >
        {{ i + 1 }}
      </a>
    </div>
  </div>
  <i *ngIf="!areProjectsLoaded" class="notched circle loading icon"></i>
  <h3 class="ui horizontal divider">
    &lt;/
    <i class="hubspot icon"></i>
    Projects >
  </h3>
</div>
