<div class="menu-bar">
  <div class="ui inverted segment">
    <div class="ui inverted menu">
      <a class="item" routerLink="/about-me" [ngClass]="{active: selectedPage === 'about-me'}">
        V-REVERSAT
      </a>
      <a class="item" routerLink="/education" [ngClass]="{active: selectedPage === 'education'}">
        <i class="graduation cap icon"></i>
      </a>
      <a class="item" routerLink="/work-experiences" [ngClass]="{active: selectedPage === 'work-experiences'}">
        <i class="suitcase icon"></i>
      </a>
      <a class="item" routerLink="/skills" [ngClass]="{active: selectedPage === 'skills'}">
        <i class="star icon"></i>
      </a>
      <a class="item" routerLink="/projects" [ngClass]="{active: selectedPage === 'projects'}">
        <i class="tasks icon"></i>
      </a>
    </div>
  </div>
</div>
