<div class="menu-bar">
  <div class="ui inverted segment">
    <div class="ui inverted menu">
      <a
        class="item"
        routerLink="/about-me"
        [ngClass]="{ active: selectedPage === 'about-me' }"
      >
        <i class="fas fa-meteor"></i>
      </a>
      <a
        class="item"
        routerLink="/education"
        [ngClass]="{ active: selectedPage === 'education' }"
      >
        <i class="graduation cap icon"></i>
      </a>
      <a
        class="item"
        routerLink="/work-experiences"
        [ngClass]="{ active: selectedPage === 'work-experiences' }"
      >
        <i class="suitcase icon"></i>
      </a>
      <a
        class="item"
        routerLink="/skills"
        [ngClass]="{ active: selectedPage === 'skills' }"
      >
        <i class="star icon"></i>
      </a>
      <a
        class="item"
        routerLink="/github-projects"
        [ngClass]="{ active: selectedPage === 'github-projects' }"
      >
        <i class="github icon"></i>
      </a>
      <a
        class="item"
        routerLink="/gitlab-projects"
        [ngClass]="{ active: selectedPage === 'gitlab-projects' }"
      >
        <i class="gitlab icon"></i>
      </a>
      <a class="active item">
        {{ selectedPage }}
      </a>
    </div>
  </div>
</div>
