<div id="menu-bar">
  <div id="wide-menu">
  <div class="ui inverted segment">
      <app-twitch-like-link-menu
        routerLink="/about-me"
        text="About me"
        [selected]="selectedPage === 'about-me'"
        icon="fas fa-meteor"
      ></app-twitch-like-link-menu>
      <app-twitch-like-link-menu
        routerLink="/education"
        text="Education"
        [selected]="selectedPage === 'education'"
        icon="fas fa-university"
      ></app-twitch-like-link-menu>
      <app-twitch-like-link-menu
        routerLink="/work-experiences"
        text="Works"
        [selected]="selectedPage === 'work-experiences'"
        icon="fas fa-briefcase"
      ></app-twitch-like-link-menu>
      <app-twitch-like-link-menu
        routerLink="/skills"
        [selected]="selectedPage === 'skills'"
        text="Skills"
        icon="fas fa-star"
      ></app-twitch-like-link-menu>
      </div>
  </div>
  <div id="display-selected-page" class="ui inverted segment">
    <b>{{ selectedPage }}</b>
  </div>
  <a target="_blank" rel="noopener noreferrer" href="{{ repo_link }}">
    <p id="app-version">
      <b>{{ app_version }}</b>
    </p>
  </a>
  <button
    id="menu-button"
    (click)="showMenu()"
    class="ui icon secondary medium button"
  >
    <i class="bars large icon"></i>
  </button>
  <div class="ui equal width right aligned grid">
    <sui-modal
      *ngIf="show"
      [isBasic]="true"
      [isClosable]="false"
      (dismissed)="hideMenu()"
      #modal
    >
      <div class="content">
        <div class="ui grid">
          <div class="row">
            <a
              (click)="hideMenu()"
              routerLink="/about-me"
              [ngClass]="{ active: selectedPage === 'about-me' }"
            >
              <h3><i class="small icon chevron right"> </i>about-me</h3></a
            >
          </div>
          <div class="row">
            <a
              (click)="hideMenu()"
              routerLink="/education"
              [ngClass]="{ active: selectedPage === 'education' }"
            >
              <h3><i class="small icon chevron right"> </i>education</h3></a
            >
          </div>
          <div class="row">
            <a
              (click)="hideMenu()"
              routerLink="/work-experiences"
              [ngClass]="{ active: selectedPage === 'work-experiences' }"
            >
              <h3>
                <i class="small icon chevron right"> </i>work-experiences
              </h3></a
            >
          </div>

          <div class="row">
            <a
              (click)="hideMenu()"
              routerLink="/skills"
              [ngClass]="{ active: selectedPage === 'skills' }"
            >
              <h3><i class="small icon chevron right"> </i>skills</h3></a
            >
          </div>
          <div class="ui centered row">
            <a target="_blank" rel="noopener noreferrer" href="{{ repo_link }}">
              <p id="app-version">
                <b>{{ app_version }}</b>
              </p>
            </a>
          </div>
        </div>
      </div>
    </sui-modal>
  </div>
</div>
