@import url('../../styles.less');

.menu-bar {
  .ui.inverted.segment {
    z-index: 100;
    position: fixed;
    top: 5px;

    .item {
      font-family: @font;
      font-weight: bold;
    }
  }
}
