<div id="project-widget" class="ui middle aligned stackable three column centered grid">
  <div class="row">
    <div class="right aligned column">
      <app-twitch-like-link [link]="project.web_url" [text]="project.name"></app-twitch-like-link>
    </div>
    <div class="column">
      <div class="ui grid">
        <div class="row">
          <p>{{ project.description }}</p>
        </div>
        <div class="row">
          <div class="column">
            <div *ngFor="let language of project.languages; let i = index" class="ui large purple label">
              {{ language.language }}
              <div class="detail">{{ language.distribution }}%</div>
            </div>
        </div>
        </div>
      </div>
    </div>
  </div>

</div>