@import url('../../styles.less');

.github-projects {

  #error {
    text-align: center;
  }

  .ui.pagination.menu {
    position: fixed;
    top: calc(100vh - 7%);
    right: 50px;
    margin-bottom: 1.2em;
    padding: 0;

    a {
      font-family: @font;
      font-weight: bolder;
    }
  }

  .ui.active.centered.inline.loader {
    box-sizing: initial;
    font-size: 3em;
  }
}
