<div class="skills" [suiTransition]="transitionController">
  <div *ngFor="let skill of skills; let i = index">
    <div class="ui stackable centered divided grid">
      <div class="three wide column">
        <h3 class="ui center aligned icon header">
          <i ngClass="circular {{ skill.icon }} icon"></i>
          {{ skill.title }}
        </h3>
      </div>
      <div class="six wide column">
        <div *ngFor="let talent of skill.talents; let i = index">
          <p class="ui header">{{ talent.name }}</p>
          <sui-progress
            class="tiny indicating"
            [value]="talent.percentage"
            [maximum]="100"
            [showProgress]="false"
          >
          </sui-progress>
        </div>
      </div>
    </div>
  </div>
</div>
