@import url('../../styles.less');

.skills{
  background-color: transparent;
  padding-top: 9%;
  padding-left: 1.2em;
  padding-right: 1.2em;

  h3 {
    font-size: 1.7em;
    color: white;
    font-family: @font;
  }

  h2 {
    font-size: 2.2em;
    color: white;
    font-family: @font;
  }

  .sub.header {
    color: white !important;
  }

  .ui.stackable.centered.divided.grid {
    padding-bottom: 5%;
  }
}
