<div class="ui segment education">
  <h3 class="ui horizontal divider">
    &lt;
    <i class="star icon"></i>
    Skills >
  </h3>
  <div class="ui stackable centered divided grid">
    <div class="row">
      <div class="four wide column">
        <h2 class="ui header">
          <i class="code icon"></i>
          <div class="content">
            Computer languags skills
          </div>
        </h2>
        <h3 class="ui header">JAVA</h3>
        <sui-progress
          class="tiny indicating"
          [value]="83"
          [maximum]="100"
          [showProgress]="false"
        >
        </sui-progress>
        <h3 class="ui header">JS / TypeScript</h3>
        <sui-progress
          class="tiny indicating"
          [value]="69"
          [maximum]="100"
          [showProgress]="false"
        >
        </sui-progress>
        <h3 class="ui header">C#</h3>
        <sui-progress
          class="tiny indicating"
          [value]="55"
          [maximum]="100"
          [showProgress]="false"
        >
        </sui-progress>
        <h3 class="ui header">Python</h3>
        <sui-progress
          class="tiny indicating"
          [value]="44"
          [maximum]="100"
          [showProgress]="false"
        >
        </sui-progress>
      </div>
      <div class="four wide column">
        <h2 class="ui header">
          <i class="database icon"></i>
          <div class="content">
            Data base skills
          </div>
        </h2>
        <h3 class="ui header">MongoDB</h3>
        <sui-progress
          class="tiny indicating"
          [value]="83"
          [maximum]="100"
          [showProgress]="false"
        >
        </sui-progress>
        <h3 class="ui header">Oracle SQL</h3>
        <sui-progress
          class="tiny indicating"
          [value]="75"
          [maximum]="100"
          [showProgress]="false"
        >
        </sui-progress>
        <h3 class="ui header">MySQL</h3>
        <sui-progress
          class="tiny indicating"
          [value]="70"
          [maximum]="100"
          [showProgress]="false"
        >
        </sui-progress>
      </div>
      <div class="four wide column">
        <h2 class="ui header">
          <i class="users icon"></i>
          <div class="content">
            Interpersonnal skills
          </div>
        </h2>
        <h3 class="ui header">Teamwork</h3>
        <sui-progress
          class="tiny indicating"
          [value]="80"
          [maximum]="100"
          [showProgress]="false"
        >
        </sui-progress>
        <h3 class="ui header">Dynamic</h3>
        <sui-progress
          class="tiny indicating"
          [value]="80"
          [maximum]="100"
          [showProgress]="false"
        >
        </sui-progress>
        <h3 class="ui header">Consciencious</h3>
        <sui-progress
          class="tiny indicating"
          [value]="80"
          [maximum]="100"
          [showProgress]="false"
        >
        </sui-progress>
        <h3 class="ui header">SCRUM like method</h3>
        <sui-progress
          class="tiny indicating"
          [value]="80"
          [maximum]="100"
          [showProgress]="false"
        >
        </sui-progress>
      </div>
    </div>
  </div>
  <h3 class="ui horizontal divider">
    &lt;/
    <i class="star icon"></i>
    Skills >
  </h3>
</div>
