/* You can add global styles to this file, and also import other style files */
@import (css) url(https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap);
@import url('https://use.fontawesome.com/releases/v5.8.1/css/all.css');

@orange : #f2711c;
@grey : #A0A0A0;
@font : 'Montserrat';


body {
  height:100vh;
  font-family: @font;
  overscroll-behavior: contain;
  background-repeat:no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size:cover;
  background-image: linear-gradient(to right top, #051937, #5b2c5f, #b13d61, #e96f42, #ebbc12);
}

html {
  height: 100%;
  overflow: hidden;
}
