/* You can add global styles to this file, and also import other style files */
@import url('../src/assets/Semantic-UI-CSS-master/semantic.css');
@import url('https://use.fontawesome.com/releases/v5.8.1/css/all.css');

@orange : #f2711c;
@grey : #A0A0A0;

.ui.segment {
  margin-top: 1.5em !important;
  margin-bottom: 1.5em !important;
  margin-left: 1.5em !important;
  margin-right: 1.5em !important;
}

body {
  background-color: @grey;
}
